/*Css aplicado a etiquetas*/
body {
    font-family: 'Times New Roman', Times, serif;
}

/*Css aplicado a ID*/
#recetaMerengue {
    color: rgb(6, 145, 11);
    background-color: bisque;
    font-size: x-large;
}

#recetaHelado {
    color: rgb(252, 196, 42);
    background-color: brown;
    font-size: x-large;
}

#recetaPastel {
    color: rgb(245, 48, 219);
    background-color: rgb(250, 226, 190);
    font-size: x-large;
}

/*Css aplicado a clases*/
.recetario {
    text-align: center;
    border-color: chocolate;
    border-width: 2px;
    border-style: double;
}

.ingredientes,
.pasos {
    color: dodgerblue;
    font-weight: bolder;
}